.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
}

.navLinks {
  margin: 0px 10px;
}

.active{
  border: 2px solid white;
  padding: 5px 10px;
}